body.asesoria {

    header {
        padding-bottom: 0px;

        &::before,
        &::after {
            display: none;
        }

        .imgHero {
            clip-path: none;
            height: 300px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100px;
                background: #000000;
                background: linear-gradient(to top, #000000d0 0%, #00000000 100%);
                bottom: 0;
                z-index: 1;
            }

            img {
                min-width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
                position: relative;


            }
        }

        .logosImg {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            bottom: -5px;
            z-index: 2;
            padding-inline: 20px;
            box-sizing: border-box;
            .logo{
                position: static;
                transform: none;
                max-width: 100px;
                img{
                    margin-bottom: 28px;
                }
            }
            h1{
                display: none;
            }
        }
    }

    /*Articles*/
    .txt{
        ul{
            padding-left: 20px;
        }
    }

}