@media screen and (min-width: 971px) {
    body {
        overflow-x: hidden;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 55px;
            height: 100%;
            background-color: $yellow;
            top: 0;
            left: 0;
            z-index: 10;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 55px;
            background-color: $black;
            left: 0;
            z-index: 10;
            height: 803px;
            bottom: -742px;
        }
    }

    /* Menu */
    .nav--hidden {
        transform: translateY(calc(-1 * 70px));
        box-shadow: none;
    }

    nav {
        .burger-menu {
            display: none;
        }

        .menu {
            width: 100dvw;
            height: 70px;
            background: rgba(0, 0, 0, 0.6);
            color: $white;
            transition: transform 0.5s ease-in-out;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            ul.menu-nav {
                flex-direction: row;
                column-gap: 100px;


                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }

                li.menu-nav-item {
                    transform: initial;
                }

                a.menu-nav-link {
                    font-size: 1em;
                    font-weight: 100;
                }
            }
        }


    }

    /* Header */
    .wrap {
        overflow: hidden;
        padding-bottom: 65px;
    }

    header {
        background-color: $gray;
        position: relative;
        padding-bottom: 60px;

        .imgHero {
            height: 600px;

            img {
                min-width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .logo {
            bottom: 17px;
            max-width: 300px;

        }

        &::before {
            bottom: -45px;
            height: 90px;

        }

        &::after {
            bottom: -40px;
            height: 90px;
        }
    }

    /* Articles */
    section.container {
        padding-inline: 55px;
    }

    article {
        max-width: 950px;
        margin: auto;

        .txt {
            padding: 0 20px;

            h2 {
                position: relative;

                font: {
                    size: 1em;
                }

                &.block::before {
                    content: "";
                    display: block;
                    width: 100vw;
                    height: 100%;
                    background-color: $black;
                    position: absolute;
                    bottom: 0px;
                    z-index: -1;
                }

                &.block.left::before {
                    right: 0;
                }
            }

            p {
                font-size: 0.9em;
                font-weight: 100;
            }
        }

        &.marco {
            margin: auto;
        }


    }

    .artiFlex {
        flex-direction: row;

        &.part1 {
            margin-top: 40px;
            column-gap: 100px;
            margin-bottom: 60px;

            .logoAbog {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin-left: -143px;
                    width: 450px;
                }

                &::before {
                    width: 4px;
                    height: 260px;
                    top: initial;
                    bottom: 83px;
                    left: 91px;
                }

                &::after {
                    width: calc(50dvw - 48px);
                    height: 21px;
                    bottom: 83px;
                    left: calc(50% - 50dvw - 13px);
                }

                h1 {
                    font-size: 1.1em;

                    br {
                        display: block;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 400px));
        justify-content: center;
        gap: 30px 157px;
        grid-auto-flow: row;
        grid-template-areas:
            "logo formulario"
            "contacto formulario"
            "logoAbg formulario";
        padding: 90px 85px 40px;
        margin-top: 80px;


        .logo {
            grid-area: logo;
        }

        form {
            grid-area: formulario;
        }

        .contact {
            grid-area: contacto;
        }

        .sublogo {
            grid-area: logoAbg;
        }



        &::before {
            width: 55px;
            height: calc(100% - -564px);
            z-index: 1;
        }

        .logo {
            text-align: left;
            margin-top: 80px;

            img {
                width: 200px;
            }
        }





        .contact {
            font-size: 1.2em;
        }

        .sublogo {
            margin: initial;
            margin-left: -20px;
            column-gap: 10px;
            position: relative;

            img {
                z-index: 2;
                position: relative;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 50vw;
                height: 10px;
                background-color: $white;
                bottom: 50px;
                right: calc(50% - -137px);

            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 2px;
                height: 126px;
                background-color: $yellow;
                top: 0px;
                left: 72px;

            }
        }
    }


    .ws {
        right: 32px;
        z-index: 9999;
    }

    /* ----aux---- */
    .column2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }


    /* ASESORIA */
    body.asesoria {
        header {
            .imgHero {
                height: 570px;
            }

            .logosImg {
                max-width: 950px;
                margin: 0 auto;
                left: 50%;
                transform: translateX(-50%);

                .logo {
                    max-width: 170px;
                }

                .logoAbog {
                    display: flex;
                    gap: 20px;

                    h1 {
                        display: block;
                        color: $white;
                        font-size: 0.7em;
                    }
                }
            }
        }

        .container {
            &::before {
                width: 55px;
                height: calc(100% - 220px);
                top: -65px;
                right: 0;
                left: auto;
            }
        }

        .txt {
            h3 {
                margin-top: 0;
            }
        }

        .part1 {
            margin-top: 0px;
            max-width: 630px;
        }

        .part2 {
            .column2 {
                gap: 0;

                .txt {
                    padding-inline: 60px;
                    padding-bottom: 100px;

                    &:first-child {
                        border-right: 1px solid $black;
                    }

                    h3 {
                        margin-inline: -60px;
                        padding-left: 60px;

                        span {
                            padding-left: 60px;
                        }
                    }
                }

            }
        }

        footer {
            margin-top: -20px;

            &::before {
                height: calc(100% + 490px);
            }
        }
    }

    /* SERVICIOS */

    body.servicios {
        header {
            background-color: $blanco;

            .imgHero {
                height: 590px;

                h1 {
                    span {
                        font-size: 1.8em;
                        width: 100%;
                        max-width: 400px;
                        bottom: 127px;
                    }

                    strong {
                        font-size: 0.95em;
                        bottom: 99px;
                        max-width: 570px;
                    }
                }
            }

            .logo {
                margin-top: -27px;
                position: relative;

                img {
                    width: 160px;
                }
            }
        }



        article {
            .block {
                &::before {
                    content: "";
                    display: block;
                    width: 50vw;
                    height: 100%;
                    background-color: $yellow;
                    position: absolute;
                    bottom: 0px;
                    z-index: -1;
                }
            }

            .txt:nth-child(even) .block::before {
                left: 0;
                background-color: $yellow;
            }

            .txt:nth-child(odd) .block::before {
                right: 0;
                background-color: $yellow;
            }
        }

        footer {
            &::before {
                height: calc(100% + 830px);
            }
        }
    }
}