body.servicios{
    header{
        padding-bottom: 0;
        .imgHero {
            clip-path: none;
            height: 300px;

            img {
                min-width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
                position: relative;
            }
            h1{
                position: absolute;
                font-size: 0.9em;
                font-weight: 100;
                color: $white;
                background-color: $black;
                padding: 5px;
                text-align: center;
                bottom: 0;
                min-width: 250px;
                left: 50%;
                transform: translateX(-50%);
                span{
                    display: block;
                    font-size: 0.7em;
                    font-weight: 600;
                    position: absolute;
                    width: 100dvw;
                    color: $black;
                    background-color: $blanco;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    z-index: -5;
                    padding: 15px 20px 5px ;
                }
            }
        }
        &::before,
        &::after {
            display: none;
        }
    }
}