@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$amarillo: #ffc300;
$amarillo-oscuro: #c79900;
$negro: #000000;
$gris: #e6e6e6;
$blanco: #ffffff;

:root {
  scroll-behavior: smooth;
  --amarillo: #{$amarillo};
  --amarillo-oscuro: #{$amarillo-oscuro};
  --negro: #{$negro};
  --gris: #{$gris};
  --blanco: #{$blanco};
}

$yellow: var(--amarillo);
$yellow-dark: var(--amarillo-oscuro);
$black: var(--negro);
$gray: var(--gris);
$white: var(--blanco);

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100%;
  height: 100%;
}

strong {
  font-weight: 800;
}

/* Menu */
nav {
  #burger-toggle {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;

    .line {
      background-color: $black;
      width: 30px;
      height: 3px;
      border-radius: 10px;
      box-sizing: content-box;
      outline: 2px solid #ffc40074;
      transition: 0.5s ease-out all;
    }
  }

  input[type="checkbox"]:checked {
    ~label.burger-menu::before {
      content: "";
      display: block;
      width: 80px;
      height: 100dvh;
      position: fixed;
      left: 0;
      top: 0;
    }

    ~.burger-menu .line {
      outline: none;

      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 7px);
      }

      &:nth-child(2) {
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
      }
    }

    ~.menu {
      display: block;
      width: calc(100% - 80px);

      li.menu-nav-item {
        transform: translateX(0);
      }
    }
  }

  .menu {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    width: 0px;
    height: 100dvh;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);

    overflow: hidden;
    box-sizing: content-box;
    transition: 0.5s ease all;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 3px;
      height: 100dvb;
      background-color: $black;
      bottom: 0;
      left: 0;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 3px;
      height: 30dvb;
      background-color: $yellow;
      bottom: 0;
      left: 0;
    }

    ul.menu-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 60px;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $black;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 0 100%, 100% 0);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: $yellow;
        bottom: 0;
        right: 0;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
      }

      li.menu-nav-item {
        transform: translateX(200%);
        transition: all 0.5s ease-in-out;
      }

      a.menu-nav-link {
        text-decoration: none;
        color: inherit;
        font-size: clamp(1.5em, 3vw, 1.7em);
      }
    }
  }


}

/* Header */
.wrap {
  overflow: hidden;
  padding-bottom: 65px;
}

header {
  background-color: $gray;
  position: relative;
  padding-bottom: 60px;

  .imgHero {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 96%);

    img,
    video {

      img,
      video {
        width: 100%;
      }
    }

    .logo {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 225px;
      z-index: 10;

      img {
        width: 100%;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -33px;
      width: 100%;
      height: 60px;
      background-color: $yellow;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -30px;
      width: 100%;
      height: 60px;
      background-color: $gray;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    }
  }
}

/* Articles */
article {
  .txt {
    padding: 0 20px;

    h2 {
      color: $white;
      background-color: $black;
      padding: 7px 15px;
      margin-right: -20px;


      font: {
        size: 0.8em;
        weight: 100;
      }
    }

    h3 {
      color: $black;
      background-color: $yellow;
      padding: 7px 15px;
      margin-right: -20px;
      position: relative;
      margin-bottom: 30px;

      span {
        display: block;
        color: $white;
        background-color: $black;
        position: absolute;
        bottom: -15px;
        left: 0;
        padding: 2px 15px;

        font: {
          weight: 800;
          size: 0.8em;
        }

      }

      font: {
        size: 0.8em;
        weight: 100;
      }
    }

    ul {
      padding-left: 20px;

      ul {
        padding-left: 20px;

      }

    }

    p,
    li {
      font-size: 0.8em;
    }
  }

  &.marco {
    border: 2px solid $black;
    margin: 20px;

    h2 {
      margin: {
        left: -42px;
        top: 20px;

      }

      padding-inline: 42px;
    }
  }
}

.artiFlex {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.part1 {
    margin-top: -44px;

    .logoAbog {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        display: block;
        margin-left: -110px;
        position: relative;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 50px;
        background-color: $yellow;
        top: -14px;
        left: calc(50% + -47px);
        z-index: -1;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: calc(50dvw - 48px);
        height: 14.5px;
        background-color: $black;
        bottom: 35px;
        left: calc(50% - 50dvw);
        z-index: -1;
      }

      h1 {
        font-size: 0.63em;

        br {
          display: none;
        }
      }
    }
  }
}

/* Footer */
footer {
  background-color: $black;
  color: $white;
  padding: 44px 48px 0 20px;
  margin-top: 69px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 60px;
    background-color: $black;
    top: -59px;
    left: 0px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: calc(100% - 220px);
    background-color: $yellow;
    bottom: 0;
    right: 0;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }

  &.login-box {

    .user-box {
      position: relative;

      input,
      textarea {
        width: 100%;
        padding: 10px 0;
        color: $white;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid $white;
        outline: none;
        background: transparent;
        transition: 0.5s ease-in all;
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 0.9em;
        color: #808080;
        pointer-events: none;
        transition: 0.5s;
      }

      textarea {
        resize: none;
        font-family: inherit;
      }

      input:focus~label,
      input:valid~label,
      textarea:focus~label,
      textarea:valid~label {
        top: -28px;
        left: 0;
        color: $yellow;
        font-size: 12px;
      }
    }

    input[type="submit"] {
      display: block;
      background-color: var(--amarillo);
      border: none;
      color: var(--negro);
      padding: 10px 35px;
      cursor: pointer;
      border-radius: 50px;
      margin-inline: auto;
      font-weight: 800;
      font-size: 1em;
    }

    input:-internal-autofill-selected {
      margin-bottom: 30px;
      padding-inline: 8px;
      width: calc(100% - 16px);
    }
  }

  .contact {
    margin-top: 40px;

    .item {
      display: flex;
      align-items: center;

      &:first-child {
        font-size: 0.9em;
      }

      font: {
        size: 0.7em;
        weight: 300;
      }

      .icon {
        display: flex;
        aspect-ratio: 1 / 1;
        justify-content: center;
        align-items: center;
        width: 33px;
      }

      a {
        text-decoration: none;
        color: inherit;
        transition: 0.5s ease-in all;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  .sublogo {
    margin: 40px -20px 0;
    display: flex;
    column-gap: 10px;

    p {
      font-weight: 600;
      margin-top: 13px;
      font-size: 0.6em;
    }
  }
}


.ws {
  width: 47px;
  position: fixed;
  bottom: 60px;
  right: 5px;
  z-index: 100;
}

.reveal-item {
  animation: linear reveal both;
  animation-timeline: view();
  animation-range: entry 20dvh cover 30%;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.txt {
  tx {
    display: inline;
  }

  h2,
  h3 {
    animation: linear lineRg both;
    animation-timeline: view();
    animation-range: entry 10px cover 14vh;
  }

  h2 span,
  h3 tx {
    animation: linear txtop both;
    animation-timeline: view();
    animation-range: entry 20dvh cover 30dvh;
  }

  @keyframes lineRg {
    0% {
      transform: scaleX(0%);
    }

    100% {
      transform: scaleX(100%);
    }
  }

  @keyframes txtop {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

@import "asesoria";
@import "servicios";
@import "media";