@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --amarillo: #ffc300;
  --amarillo-oscuro: #c79900;
  --negro: #000000;
  --gris: #e6e6e6;
  --blanco: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100dvb;
}

strong {
  font-weight: 800;
}

/* Menu */
nav #burger-toggle {
  display: none;
}
nav .burger-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
}
nav .burger-menu .line {
  background-color: var(--negro);
  width: 30px;
  height: 3px;
  border-radius: 10px;
  box-sizing: content-box;
  outline: 2px solid rgba(255, 196, 0, 0.4549019608);
  transition: 0.5s ease-out all;
}
nav input[type=checkbox]:checked ~ label.burger-menu::before {
  content: "";
  display: block;
  width: 80px;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
}
nav input[type=checkbox]:checked ~ .burger-menu .line {
  outline: none;
}
nav input[type=checkbox]:checked ~ .burger-menu .line:nth-child(1) {
  transform: rotate(45deg) translate(8px, 7px);
}
nav input[type=checkbox]:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}
nav input[type=checkbox]:checked ~ .burger-menu .line:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}
nav input[type=checkbox]:checked ~ .menu {
  display: block;
  width: calc(100% - 80px);
}
nav input[type=checkbox]:checked ~ .menu li.menu-nav-item {
  transform: translateX(0);
}
nav .menu {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  width: 0px;
  height: 100dvh;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  overflow: hidden;
  box-sizing: content-box;
  transition: 0.5s ease all;
}
nav .menu::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 100dvb;
  background-color: var(--negro);
  bottom: 0;
  left: 0;
}
nav .menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 30dvb;
  background-color: var(--amarillo);
  bottom: 0;
  left: 0;
}
nav .menu ul.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
nav .menu ul.menu-nav::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--negro);
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 0);
}
nav .menu ul.menu-nav::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--amarillo);
  bottom: 0;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
nav .menu ul.menu-nav li.menu-nav-item {
  transform: translateX(200%);
  transition: all 0.5s ease-in-out;
}
nav .menu ul.menu-nav a.menu-nav-link {
  text-decoration: none;
  color: inherit;
  font-size: clamp(1.5em, 3vw, 1.7em);
}

/* Header */
.wrap {
  overflow: hidden;
  padding-bottom: 65px;
}

header {
  background-color: var(--gris);
  position: relative;
  padding-bottom: 60px;
}
header .imgHero {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 96%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 96%);
}
header .imgHero img {
  width: 100%;
}
header .logo {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 225px;
  z-index: 10;
}
header .logo img {
  width: 100%;
}
header::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -33px;
  width: 100%;
  height: 60px;
  background-color: var(--amarillo);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
}
header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 60px;
  background-color: var(--gris);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
}

/* Articles */
article .txt {
  padding: 0 20px;
}
article .txt h2 {
  color: var(--blanco);
  background-color: var(--negro);
  padding: 7px 15px;
  margin-right: -20px;
  font-size: 0.8em;
  font-weight: 100;
}
article .txt h3 {
  color: var(--negro);
  background-color: var(--amarillo);
  padding: 7px 15px;
  margin-right: -20px;
  position: relative;
  margin-bottom: 30px;
  font-size: 0.8em;
  font-weight: 100;
}
article .txt h3 span {
  display: block;
  color: var(--blanco);
  background-color: var(--negro);
  position: absolute;
  bottom: -15px;
  left: 0;
  padding: 2px 15px;
  font-weight: 800;
  font-size: 0.8em;
}
article .txt p, article .txt li {
  font-size: 0.8em;
}
article.marco {
  border: 2px solid var(--negro);
  margin: 20px;
}
article.marco h2 {
  margin-left: -42px;
  margin-top: 20px;
  padding-inline: 42px;
}

.artiFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artiFlex.part1 {
  margin-top: -44px;
}
.artiFlex.part1 .logoAbog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artiFlex.part1 .logoAbog img {
  display: block;
  margin-left: -110px;
  position: relative;
}
.artiFlex.part1 .logoAbog::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 50px;
  background-color: var(--amarillo);
  top: -14px;
  left: calc(50% - 47px);
  z-index: -1;
}
.artiFlex.part1 .logoAbog::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(50dvw - 48px);
  height: 14.5px;
  background-color: var(--negro);
  bottom: 31px;
  left: calc(50% - 50dvw);
  z-index: -1;
}
.artiFlex.part1 .logoAbog h1 {
  font-size: 0.63em;
}
.artiFlex.part1 .logoAbog h1 br {
  display: none;
}

/* Footer */
footer {
  background-color: var(--negro);
  color: var(--blanco);
  padding: 44px 48px 0 20px;
  margin-top: 69px;
  position: relative;
}
footer::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
  width: 100%;
  height: 60px;
  background-color: var(--negro);
  top: -59px;
  left: 0px;
}
footer::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: calc(100% - 220px);
  background-color: var(--amarillo);
  bottom: 0;
  right: 0;
}
footer h3 {
  font-size: 1em;
}
footer p {
  font-size: 0.8em;
}
footer.login-box .user-box {
  position: relative;
}
footer.login-box .user-box input,
footer.login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  color: var(--blanco);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--blanco);
  outline: none;
  background: transparent;
  transition: 0.5s ease-in all;
}
footer.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 0.9em;
  color: #808080;
  pointer-events: none;
  transition: 0.5s;
}
footer.login-box .user-box textarea {
  resize: none;
  font-family: inherit;
}
footer.login-box .user-box input:focus ~ label,
footer.login-box .user-box input:valid ~ label,
footer.login-box .user-box textarea:focus ~ label,
footer.login-box .user-box textarea:valid ~ label {
  top: -28px;
  left: 0;
  color: var(--amarillo);
  font-size: 12px;
}
footer.login-box input[type=submit] {
  display: block;
  background-color: var(--amarillo);
  border: none;
  color: var(--negro);
  padding: 10px 35px;
  cursor: pointer;
  border-radius: 50px;
  margin-inline: auto;
  font-weight: 800;
  font-size: 1em;
}
footer.login-box input:-internal-autofill-selected {
  margin-bottom: 30px;
  padding-inline: 8px;
  width: calc(100% - 16px);
}
footer .contact {
  margin-top: 40px;
}
footer .contact .item {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  font-weight: 300;
}
footer .contact .item:first-child {
  font-size: 0.9em;
}
footer .contact .item .icon {
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  width: 33px;
}
footer .contact .item a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s ease-in all;
}
footer .contact .item a:hover {
  color: var(--amarillo);
}
footer .sublogo {
  margin: 40px -20px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .sublogo p {
  font-weight: 600;
  margin-top: 0;
}

.ws {
  width: 47px;
  position: fixed;
  bottom: 20px;
  right: 5px;
}

.reveal-item {
  animation: linear reveal both;
  animation-timeline: view();
  animation-range: entry 10dvh cover 30%;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body.asesoria {
  /*Articles*/
}
body.asesoria header {
  padding-bottom: 0px;
}
body.asesoria header::before, body.asesoria header::after {
  display: none;
}
body.asesoria header .imgHero {
  -webkit-clip-path: none;
          clip-path: none;
  height: 300px;
}
body.asesoria header .imgHero::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  background: #000000;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8156862745) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  z-index: 1;
}
body.asesoria header .imgHero img {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  position: relative;
}
body.asesoria header .logosImg {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: -5px;
  z-index: 2;
  padding-inline: 20px;
  box-sizing: border-box;
}
body.asesoria header .logosImg .logo {
  position: static;
  transform: none;
  max-width: 100px;
}
body.asesoria header .logosImg .logo img {
  margin-bottom: 28px;
}
body.asesoria header .logosImg h1 {
  display: none;
}
body.asesoria .container {
  position: relative;
  padding-left: 40px;
}
body.asesoria .container::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: var(--negro);
  top: -21px;
  left: 0;
  z-index: 1;
}
body.asesoria .container::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 90%;
  background-color: var(--amarillo);
  bottom: -80px;
  left: 0;
  z-index: 1;
}
body.asesoria .txt h3 {
  margin-left: -20px;
  padding-left: 30px;
}
body.asesoria .txt h3 span {
  padding-left: 30px;
}
body.asesoria .txt ul {
  padding-left: 20px;
}
body.asesoria footer {
  z-index: 1;
}

@media screen and (min-width: 971px) {
  body {
    overflow-x: hidden;
  }
  body::before {
    content: "";
    display: block;
    position: absolute;
    width: 55px;
    height: 100%;
    background-color: var(--amarillo);
    top: 0;
    left: 0;
    z-index: 10;
  }
  body::after {
    content: "";
    display: block;
    position: absolute;
    width: 55px;
    height: 653px;
    background-color: var(--negro);
    bottom: -482px;
    left: 0;
    z-index: 10;
  }
  /* Menu */
  nav .burger-menu {
    display: none;
  }
  nav .menu {
    width: 100dvw;
    height: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: var(--blanco);
    transition: none;
  }
  nav .menu::before {
    display: none;
  }
  nav .menu::after {
    display: none;
  }
  nav .menu ul.menu-nav {
    flex-direction: row;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  nav .menu ul.menu-nav::before {
    display: none;
  }
  nav .menu ul.menu-nav::after {
    display: none;
  }
  nav .menu ul.menu-nav li.menu-nav-item {
    transform: initial;
  }
  nav .menu ul.menu-nav a.menu-nav-link {
    font-size: 1em;
    font-weight: 100;
  }
  /* Header */
  .wrap {
    overflow: hidden;
    padding-bottom: 65px;
  }
  header {
    background-color: var(--gris);
    position: relative;
    padding-bottom: 60px;
  }
  header .imgHero {
    height: 600px;
  }
  header .imgHero img {
    min-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  header .logo {
    bottom: 17px;
    max-width: 300px;
  }
  header::before {
    bottom: -45px;
    height: 90px;
  }
  header::after {
    bottom: -40px;
    height: 90px;
  }
  /* Articles */
  section.container {
    padding-inline: 55px;
  }
  article {
    max-width: 950px;
    margin: auto;
  }
  article .txt {
    padding: 0 20px;
  }
  article .txt h2 {
    position: relative;
    font-size: 1em;
  }
  article .txt h2.block::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background-color: var(--negro);
    position: absolute;
    bottom: 0px;
    z-index: -1;
  }
  article .txt h2.block.left::before {
    right: 0;
  }
  article .txt p {
    font-size: 0.9em;
    font-weight: 100;
  }
  article.marco {
    margin: auto;
  }
  article .column2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .artiFlex {
    flex-direction: row;
  }
  .artiFlex.part1 {
    margin-top: 40px;
    -moz-column-gap: 100px;
         column-gap: 100px;
    margin-bottom: 60px;
  }
  .artiFlex.part1 .logoAbog {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .artiFlex.part1 .logoAbog img {
    margin-left: -143px;
    width: 450px;
  }
  .artiFlex.part1 .logoAbog::before {
    width: 4px;
    height: 260px;
    top: initial;
    bottom: 83px;
    left: 91px;
  }
  .artiFlex.part1 .logoAbog::after {
    width: calc(50dvw - 48px);
    height: 21px;
    bottom: 83px;
    left: calc(50% - 50dvw - 13px);
  }
  .artiFlex.part1 .logoAbog h1 {
    font-size: 1.1em;
  }
  .artiFlex.part1 .logoAbog h1 br {
    display: block;
  }
  .artiFlex.part1 .logoAbog h1 span {
    display: none;
  }
  /* Footer */
  footer {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 400px));
    justify-content: center;
    gap: 30px 157px;
    grid-auto-flow: row;
    grid-template-areas: "logo formulario" "contacto formulario" "logoAbg formulario";
    padding: 90px 85px 40px;
    margin-top: 80px;
  }
  footer .logo {
    grid-area: logo;
  }
  footer form {
    grid-area: formulario;
  }
  footer .contact {
    grid-area: contacto;
  }
  footer .sublogo {
    grid-area: logoAbg;
  }
  footer::before {
    width: 55px;
    height: calc(100% + 564px);
    z-index: 1;
  }
  footer .logo {
    text-align: left;
    margin-top: 80px;
  }
  footer .logo img {
    width: 200px;
  }
  footer .contact {
    font-size: 1.2em;
  }
  footer .sublogo {
    margin: initial;
    margin-left: -20px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    position: relative;
  }
  footer .sublogo img {
    z-index: 2;
    position: relative;
  }
  footer .sublogo::before {
    content: "";
    display: block;
    position: absolute;
    width: 50vw;
    height: 10px;
    background-color: var(--blanco);
    bottom: 50px;
    right: calc(50% + 137px);
  }
  footer .sublogo::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 126px;
    background-color: var(--amarillo);
    top: 0px;
    left: 72px;
  }
  .ws {
    right: 32px;
    z-index: 9999;
  }
}/*# sourceMappingURL=main.css.map */